<div style="text-align: center">
  <h1>Welcome on TestMe homepage! :)</h1>
</div>
<div class="info-text">
  <h3>Jak napisać egzamin?</h3>
  <ol>
    <li>Przejdź do zakładki '<b>Exams</b>'.</li>
    <li>Wybierz dostępny egzamin.</li>
    <li>Po zapoznaniu się z informacjami, wybierz przycisk '<b>Start exam!</b>'.</li>
    <li>Pytania podzielone są na 3 rodzaje:</li>
    <ul>
      <li><u>Jednokrotnego wyboru</u> - tylko jedna odpowiedź jest prawidłowa.</li>
      <li><u>Wielokrotnego wyboru</u> - conajmniej jedna odpowiedź jest prawidłowa.</li>
      <li><u>Krótka odpowiedź</u> - użytkownik wpisuje jedną lub wiele odpowiedzi oddzielonych przecinkiem.</li>
    </ul>
    <li>Egzamin zakończy się w momencie osiągnięcia limitu czasowego,
      lub ręcznego zakończenia egzaminu przez użytkownika (przyciskiem '<b>Send exam</b>').
    </li>
    <li>Po ukończeniu egzaminu, zostaną wyświetlone informacje o czasie pisania egzaminu oraz wyniku punktowym.</li>
  </ol>
</div>

<div class="info-text">
  <h3>Jak działa punktacja egzaminu?</h3>
  <ol>
    <li><u>Pytanie jednokrotnego wyboru</u></li>
    <ul>
      <li>Zaznaczenie poprawnej odpowiedzi: +1 punkt</li>
      <li>Zaznaczenie niepoprawnej odpowiedzi: 0 punktów</li>
    </ul>
    <li><u>Pytanie wielokrotnego wyboru</u></li>
    <ul>
      <li>Zaznaczenie poprawnej odpowiedzi: +1 punkt</li>
      <li>Zaznaczenie niepoprawnej odpowiedzi: -1 punkt</li>
      <li>Niemożliwe jest uzyskanie ujemnej liczby punktów za wszystkie odpowiedzi w pytaniu.</li>
    </ul>
    <li><u>Pytanie z odpowiedzią pisemną</u></li>
    <ul>
      <li>Odpowiedzi muszą być oddzielone przecinkiem (,) - w przeciwnym razie cała odpowiedź zostanie
        uznana za pojedynczą wartość.
      </li>
      <li>Wpisanie poprawnej odpowiedzi: +1 punkt</li>
      <li>Wpisanie niepoprawnej odpowiedzi: -1 punkt</li>
      <li>Wpisanie większej liczby odpowiedzi niż istnieje ich poprawna ilość: -1 punkt za każdą nadmierną odpowiedź
      </li>
    </ul>
    <li>Brak wpisania lub wybrania odpowiedzi ze strony użytkownika skutkuje uzyskaniem zerowej ilości punktów.</li>
  </ol>
</div>

<div class="info-text">
  <h3>Jak dodać nowy egzamin?</h3>
  <ol>
    <li>Przejdź do zakładki '<b>New Exam</b>'.</li>
    <ol>
      <li>Uzupełnij pole <b>Nazwa egzaminu</b>.</li>
      <li>Wybierz <b>poziom trudności</b> z listy rozwijanej.</li>
      <li>Uzupełnij pole <b>Czas egzaminu</b>.</li>
      <ul>
        <li>Wybierz liczbę godzin: od 0 do 99</li>
        <li>Wybierz liczbę minut: od 0 do 59</li>
        <li>Czas egzaminu <u>nie może</u> być <b>zerowy</b>!</li>
      </ul>
      <li>Aby dodawać kolejne pytania, kliknij w przycisk <b>Dodaj pytanie</b>.</li>
      <li>Podczas dodawania pytań i wybierania poprawnych odpowiedzi,
        liczba pytań oraz maksymalna możliwa do uzyskania liczba punktów za egzamin
        będzie się zmieniać.
      </li>
      <li>W zależności od wybranego typu pytania, zostanie dodany jego określony rodzaj:</li>
      <ol>
        <li><u>Jednokrotny wybór</u></li>
        <ul>
          <li>Użytkownik otrzyma pytanie z odpowiedziami, w którym będzie mógł wybrać tylko jedną z nich.</li>
          <li>Musi posiadać dokładnie jedną prawidłową odpowiedź.</li>
          <li>Musi posiadać conajmniej dwie odpowiedzi.</li>
        </ul>
        <li><u>Wielokrotny wybór</u></li>
        <ul>
          <li>Użytkownik otrzyma pytanie z odpowiedziami, w którym będzie mógł wybrać wiele z nich.</li>
          <li>Musi posiadać conajmniej jedną prawidłową odpowiedź.</li>
          <li>Musi posiadać conajmniej dwie odpowiedzi.</li>
        </ul>
        <li><u>Pisemna odpowiedź</u></li>
        <ul>
          <li>Użytkownik otrzyma pole, w którym ręcznie wpisuje odpowiedź na pytanie.</li>
          <li>Może posiadać dowolną liczbę odpowiedzi.</li>
          <li>Każda odpowiedź musi być prawidłowa (w tym typie pytania,
            wszystkie odpowiedzi automatycznie są zaznaczone jako prawidłowe).
          </li>
        </ul>
      </ol>
      <li>Aby oznaczyć wybraną odpowiedź w pytaniu jako prawidłową,
        zaznacz okrągłe lub kwadratowe pole obok treści odpowiedzi.
      </li>
      <li>Aby usunąć pytanie, kliknij w przycisk <b>Usuń pytanie</b>, obok wybranego pytania.</li>
      <li>Aby usunąć odpowiedź przypisaną do pytania, kliknij w przycisk <b>Usuń</b>, obok wybranej odpowiedzi.</li>
      <li>Aby zapisać egzamin w bazie danych, po uzupełnieniu pól oraz dodaniu
        pytań oraz odpowiedzi, kliknij w przycik <b>Zapisz egzamin</b>.
        Po kliknięciu otrzymasz informację odnośnie wyniku procesu zapisywania egzaminu.
      </li>
    </ol>
  </ol>
</div>
