<div style="text-align: center">
  <h1>Welcome on TestMe homepage! :)</h1>
</div>
<div class="info-text">
  <h3>Jak napisać egzamin?</h3>
  <ol>
    <li>Przejdź do zakładki '<b>Exams</b>'.</li>
    <li>Wybierz dostępny egzamin.</li>
    <li>Po zapoznaniu się z informacjami, wybierz przycisk '<b>Start exam!</b>'.</li>
    <li>Pytania podzielone są na 3 rodzaje:</li>
    <ul>
      <li><u>Jednokrotnego wyboru</u> - tylko jedna odpowiedź jest prawidłowa.</li>
      <li><u>Wielokrotnego wyboru</u> - conajmniej jedna odpowiedź jest prawidłowa.</li>
      <li><u>Krótka odpowiedź</u> - użytkownik wpisuje jedną lub wiele odpowiedzi oddzielonych przecinkiem.</li>
    </ul>
    <li>Egzamin zakończy się w momencie osiągnięcia limitu czasowego,
      lub ręcznego zakończenia egzaminu przez użytkownika (przyciskiem '<b>Send exam</b>').
    </li>
    <li>Po ukończeniu egzaminu, zostaną wyświetlone informacje o czasie pisania egzaminu oraz wyniku punktowym.</li>
  </ol>
</div>

<div class="info-text">
  <h3>Jak działa punktacja egzaminu?</h3>
  <ol>
    <li><u>Pytanie jednokrotnego wyboru</u></li>
    <ul>
      <li>Zaznaczenie poprawnej odpowiedzi: +1 punkt</li>
      <li>Zaznaczenie niepoprawnej odpowiedzi: 0 punktów</li>
    </ul>
    <li><u>Pytanie wielokrotnego wyboru</u></li>
    <ul>
      <li>Zaznaczenie poprawnej odpowiedzi: +1 punkt</li>
      <li>Zaznaczenie niepoprawnej odpowiedzi: -1 punkt</li>
      <li>Niemożliwe jest uzyskanie ujemnej liczby punktów za wszystkie odpowiedzi w pytaniu.</li>
    </ul>
    <li><u>Pytanie z odpowiedzią pisemną</u></li>
    <ul>
      <li>Odpowiedzi muszą być oddzielone przecinkiem (,) - w przeciwnym razie cała odpowiedź zostanie
        uznana za pojedynczą wartość.
      </li>
      <li>Wpisanie poprawnej odpowiedzi: +1 punkt</li>
      <li>Wpisanie niepoprawnej odpowiedzi: -1 punkt</li>
      <li>Wpisanie większej liczby odpowiedzi niż istnieje ich poprawna ilość: 0 punktów</li>
    </ul>
    <li>Brak wpisania lub wybrania odpowiedzi ze strony użytkownika skutkuje uzyskaniem zerowej ilości punktów.</li>
  </ol>
</div>
