<div id="form-container">
  <h1>Wpisz nowe hasło</h1>
  <form (ngSubmit)="setNewResetedPassword()" [formGroup]="setNewPasswordForm">

    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>

      <input type="password" matInput [formControl]="passwordControl">

      <mat-error *ngIf="passwordControl.hasError('required')">
        Hasło jest wymagane
      </mat-error>
      <mat-error *ngIf="passwordControl.hasError('minlength')
              || passwordControl.hasError('maxlength')">
        Hasło musi zawierać od 6 do 30 znaków
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Powtórz hasło</mat-label>
      <input type="password" matInput [formControl]="passwordRepeatControl">

      <mat-error *ngIf="passwordRepeatControl.hasError('required')">
        Powtórzenie hasła jest wymagane
      </mat-error>

      <mat-error *ngIf="passwordControl.value != passwordRepeatControl.value">
        Hasła nie są zgodne
      </mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Zapisz nowe hasło</button>
  </form>

</div>
<mat-spinner style="margin: -10% 0 0 47.5%;"
             mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
