<div id="form-container">
  <h1>Formularz logowania</h1>
  <form (ngSubmit)="login()" [formGroup]="userLoginForm">

    <mat-form-field appearance="outline">
      <mat-label>Nazwa użytkownika</mat-label>

      <input type="text" matInput [formControl]="usernameControl">

      <mat-error *ngIf="usernameControl.hasError('required')">
        Nazwa użytkownika jest wymagana
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Hasło</mat-label>

      <input type="password" matInput [formControl]="passwordControl">

      <mat-error *ngIf="passwordControl.hasError('required')">
        Hasło jest wymagane
      </mat-error>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Zaloguj się</button>
    <p id="password-reset-text" (click)="goToPasswordResetPage()">Zapomniałem hasła</p>
  </form>

</div>
<mat-spinner style="margin: -10% 0 0 47.5%;"
             mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
