#examDivInner {
  margin: 10px;
}

#examDivInner p span {
  font-weight: bold;
}

#examQuestions {
  border: 4px solid cadetblue;
  border-radius: 10px;
  max-width: 30%;
}

#examQuestion {
  border: 2px solid cadetblue;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 10px;
}

#examStartButton {
  margin: 10px
}

#questionContent {
  font-weight: bold;
}

#answers {
  text-align: left;
  margin-left: 10%;
}

#answers input:hover {
  cursor: pointer;
}

#timer {
  margin-top: 5px;
  margin-bottom: 5px;
}
