#examSuperContainer {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
}

#examDataDiv {
  margin: 10px;
}

#examDataDiv p span {
  font-weight: bold;
}

#examQuestions {
  border: 4px solid cadetblue;
  border-radius: 10px;
  max-width: 50%;
  min-width: 40%;
  background-color: white;
  text-align: center;
  margin-left: 10%;
}

#examQuestion {
  border: 2px solid cadetblue;
  border-radius: 5px;
  margin: 5px;
  padding-bottom: 10px;
  background-color: #f2f2f2;
}

.examStartFinishButtonDiv {
  text-align: center;
}

.examStartFinishButton {
  margin: 2.5%;
  transform: scale(2);
}

#questionContent {
  font-weight: bold;
  margin-left: 3%;
  margin-right: 3%;
}

.answers {
  text-align: left;
  margin-left: 10%;
  margin-bottom: 2%;
}

.answers input:hover {
  cursor: pointer;
}

#timer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.answerCheckBox {
  transform: scale(1.5);
  margin-right: 10px;
}

.answerRadio {
  transform: scale(1.5);
  margin-right: 10px;
  clip-path: circle(50% at 50% 50%);
}


.userAnswerTextInput {
  transform: scale(1.5);
}
