<div id="examDataDiv">
  <div id="examDivInner">
    <p><span>ID:</span> {{exam.id}}</p>
    <p><span>Exam name:</span> {{exam.examName}}</p>
    <p><span>Hardness level:</span> {{exam.difficultyLevel}}</p>
    <p><span>Exam time:</span> {{exam.timeInSeconds | examTimer}}</p>
    <p><span>Questions number: </span>{{exam.examQuestionsNumber}}</p>
    <p><span>Your last exam score: </span>{{this.responseExamPoints}}
      <a *ngIf="this.responseExamPoints != null">/ {{exam.examQuestionsNumber}}</a>
    </p>
    <p><span>Your last exam time:</span> {{userLastExamTime | examTimer}}</p>
  </div>
</div>

<div id="examStartButton" *ngIf="!examStarted">
  <button (click)="startTest()">Start exam!</button>
</div>

<div *ngIf="examStarted" align="center" id="examQuestionsContainer">
  <div id="examQuestions">
    <div id="timer">
      {{examTimeLeft | examTimer}}
    </div>
    <div id="examQuestion" *ngFor="let question of exam.questions">
      <p id="questionContent">{{question.content}}</p>
      <div id="answers" *ngFor="let answer of question.answers">
        <input type="checkbox" id="answerCheckBox"
               (change)="uncheckOtherAnswers(answer, question)"
               [(ngModel)]="answer.correctness" [value]="true"
               name="{{question.id}}">{{answer.content}}
      </div>
    </div>
  </div>
</div>

<div align="center" *ngIf="examStarted">
  <button id="examEndButton" (click)="finishTest()">Send exam</button>
</div>
