<div id="header">
  <div id="header-pages">
    <a class="page" routerLink="/home" *ngIf="authService.isUserLoggedIn()">Strona główna</a>
    <a class="page" routerLink="/exams" *ngIf="authService.isUserLoggedIn()">Egzaminy</a>
    <a class="page" routerLink="/new-exam" *ngIf="authService.isUserLoggedIn()">Nowy egzamin</a>
    <a class="page" routerLink="/login" *ngIf="!authService.isUserLoggedIn()">Zaloguj się</a>
    <a class="page" routerLink="/register" *ngIf="!authService.isUserLoggedIn()">Rejestracja</a>
  </div>
  <div id="header-logout">
    <a class="page" routerLink="/my-account" *ngIf="authService.isUserLoggedIn()">Moje konto</a>
    <a class="page" (click)="logMeOut('Czy chcesz się wylogować?')"
       *ngIf="authService.isUserLoggedIn()">Wyloguj się</a>
    <a id="header-username">{{authService.getUsername()}}</a>
  </div>
</div>
<router-outlet></router-outlet>
