.question {
  border: 4px solid cadetblue;
  border-radius: 10px;
  max-width: 30%;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5%;
  padding: 10px;
}

.answers {
  padding: 10px;
}

.single {
  border: 4px solid red;
}

.multiple {
  border: 4px solid green;
}

.short {
  border: 4px solid blue;
}
