#my-account-container {
  display: flex;
  flex-direction: initial;
}

#form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  flex-grow: 2;
}

#my-exams {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
}

form mat-form-field {
  width: 400px;
  padding-bottom: 5%;
}

#my-exams h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

#admin-panel {
  border: 3px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

#admin-panel p {
  padding-left: 20px;
  font-weight: bold;
  flex-grow: 0.5;
}

#admin-panel p:hover {
  text-decoration: underline;
  cursor: pointer;
}
