<div id="my-account-container">
  <div id="form-container">
    <form (ngSubmit)="saveUser('Czy chcesz zapisać zmiany?')" [formGroup]="changePasswordForm">

      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>

        <input type="text" matInput readonly [formControl]="usernameControl">

        <mat-error *ngIf="usernameControl.hasError('required')">
          Username is required
        </mat-error>
        <mat-error *ngIf="usernameControl.hasError('minlength')
              || usernameControl.hasError('maxlength')">
          Username has to contain from 3 to 60 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>E-mail</mat-label>

        <input type="text" matInput readonly [formControl]="emailControl">

        <mat-error *ngIf="emailControl.hasError('required')">
          mail is required
        </mat-error>
        <mat-error *ngIf="emailControl.hasError('pattern')">
          Incorrect e-mail format
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Current password</mat-label>

        <input type="password" matInput [formControl]="currentPasswordControl">

        <mat-error *ngIf="currentPasswordControl.hasError('required')">
          Current password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>New password</mat-label>

        <input type="password" matInput [formControl]="newPasswordControl">

        <mat-error *ngIf="newPasswordControl.hasError('required')">
          New password is required
        </mat-error>
        <mat-error *ngIf="newPasswordControl.hasError('minlength')
              || newPasswordControl.hasError('maxlength')">
          New password has to contain from 6 to 30 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Repeat new password</mat-label>
        <input type="password" matInput [formControl]="newPasswordRepeatControl">

        <mat-error *ngIf="newPasswordRepeatControl.hasError('required')">
          Repeated new password is required
        </mat-error>

        <mat-error *ngIf="newPasswordControl.value != newPasswordRepeatControl.value">
          Passwords do not match
        </mat-error>

      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">Save new password</button>
    </form>

  </div>
  <div id="my-exams">
    <h2>Your role: {{this.myRole}}</h2>
    <h2 routerLink="/my-exam-attempts">Browse my exam attempts</h2>

    <div id="admin-panel" *ngIf="this.myRole === 'ADMIN'">
      <ul>
        <li><p routerLink="/users">Browse users</p></li>
      </ul>
    </div>

  </div>

</div>
<mat-spinner style="margin: -10% 0 0 47.5%;"
             mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>
