#examsContainer {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  justify-content: center;;
  margin: 10px;
  font-size: 20px;
}

#examDiv {
  border: 4px solid cadetblue;
  border-radius: 10px;
  margin: 10px;
  min-width: 330px;
  max-width: 360px;
  background-color: white;
}

#examDivOptions {
  display: inline-flex;
  padding: 10px;
}

#examDivOptions span {
  margin-right: 10px;
}

#examDivOptions span:hover {
  cursor: pointer;
  font-weight: bold;
}

#examDivData {
  border-top: 4px solid cadetblue;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}

#examDivData p span {
  font-weight: bold;
}

#examDivData:hover {
  background-color: #b4ffd3;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}

#idSpan {
  border-bottom: 2px solid cadetblue;
}
