<div id="exams-container">

  <div *ngIf="exams === null" id="empty-exams-list-info">
    <p>Brak egzaminów. Kliknij <a id="tutaj-text" [routerLink]="['/new-exam']"><u>tutaj</u></a>, aby dodać własny.</p>
  </div>

  <div *ngFor="let exam of exams; let i = index" id="exam-div">

    <div id="exam-div-options">

      <span routerLink="edit/{{exam.id}}">Edytuj</span>
      <span (click)="deleteExam('Czy chcesz usunąć ten egzamin?', exam.id)">Usuń</span>

    </div>

    <div id="exam-div-data" routerLink="exam/{{exam.id}}">

      <p id="id-span"><span>Nr: </span>{{i+1}}</p>
      <p><span>Nazwa:</span> {{exam.examName}}</p>
      <p><span>Poziom trudności:</span> {{exam.difficultyLevel}}</p>
      <p><span>Liczba pytań: </span>{{exam.questions.length}}</p>

    </div>

  </div>

</div>
