<div id="form-container">
  <h1>Resetowanie hasła</h1>

  <form (ngSubmit)="sendPasswordResetToken()" [formGroup]="emailFormGroup">

    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>

      <input type="text" matInput [formControl]="emailControl">

      <mat-error *ngIf="emailControl.hasError('required')">
        Adres e-mail jest wymagany
      </mat-error>

      <mat-error *ngIf="emailControl.hasError('pattern')">
        Nieprawidłowy format adresu e-mail
      </mat-error>

    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Resetuj hasło</button>

    <p id="reset-info">Wpisz e-mail przypisany do twojego konta. Po kliknięciu 'Resetuj hasło',
      wyślemy na twoją pocztę e-mail link pozwalający na zmianę hasła przypisanego do twojego konta.</p>

  </form>

</div>

<mat-spinner style="margin: -10% 0 0 47.5%;"
             mode="indeterminate" color="accent"
             *ngIf="turnSpinnerOn"></mat-spinner>

